<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget item</title>
    <style type="text/css">
        body {
          color: navy;
          background-color: lightgray;
        }
      </style>
</head>
<body>
        <h1><%=budget.name%></h1>
        <h2><%=budget.date %></h2>
        <h3><%= budget.from %></h3>
        <h3>$<%=budget.amount%></h3>
        <ul>
            <% for(let i = 0; i < budget.tags.length; i++) {  %>
                <li>
                    <%=(budget.tags[i])%>
                </li>
            <% } %>
        <p><a href="/budgets">Back to Budgtr</a></p>
     
</body>
</html>