<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget item</title>
    <style type="text/css">
        body {
          color: navy;
          background-color: lightgray;
        }
      </style>
      <link rel="stylesheet" href="/normalize.css">
      <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
        <h1><%=budget.name%></h1>
        <button onclick="window.location='http://localhost:3000/budgets'">Back</button>
        <p><strong>date </strong><br>&emsp;&emsp;<%=budget.date %></p>
        <p><strong>name </strong><br>&emsp;&emsp;<%=budget.name %></p>
        <p><strong>from </strong><br>&emsp;&emsp;<%=budget.from %></p>
        <p><strong>amount </strong><br>&emsp;&emsp;$<%=budget.amount %></p>
        <ul><strong>tags</strong>
            <% for(let i = 0; i < budget.tags.length; i++) {  %>
                <li>
                    <%=(budget.tags[i])%>
                </li>
            <% } %>
        <p><a href="/budgets">Back to Budgtr</a></p>
     
</body>
</html>